<header>
  Phlegmer
  <link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">
</header>
<nav>
  <a class="navlinks"href="/spittoon">Spittoon</a>
  <a class="navlinks"href="#">Notifications</a>
  <a class="navlinks"href="#">Messages</a>
  <a class="navlinks"href="/users/myprofile">My Profile</a>
  <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
</nav>
<h1>Spittoon</h1>
<form class="" action="/loogiedisplay" method="post">
    <div class="" style="margin: 24px auto;">
        <input id="id" type="text" name="id" style="width:300px;"class="" placeholder="search for loogie by number">
        <input type="submit" class="" value="Search">
    </div>
</form>
<section id="one">
  <div id="trending">
    trending loogies
  </div>
</section>
<section id="two">
  <div class="loogies">
    <h3>
      <a href="/users/goto/{{loogie0}}">{{loogie0}}</a>
    </h3>
  </div>
  <div class="loogies">
    <h3>
      <a href="/users/goto/{{loogie1}}">{{loogie1}}</a>
    </h3>
  </div>
  <div class="loogies">
    <h3>
      <a href="/users/goto/{{loogie2}}">{{loogie2}}</a>
    </h3>
  </div>
</section>
<section id="three">
  <div id="suggestions">
    all of the suggested users to follow
  </div>
</section>
